* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#header {
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

#header:after {
  opacity: 0.5;
}

#titleContainer {
  color: black;
}

h1 {
  margin: 25px auto;
}

#menuTitle {
  margin: 20px auto;
}

#responsiveMenuButton {
  display: inline-block;
  text-align: center;
  margin: auto;
  bottom: 0;
}

#navbarContainer {
  visibility: hidden;
  margin: auto auto 20px;
}

img {
  overflow: hidden;
}
